<div class="container">
    <h1>
        My Quotes</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div *ngFor='let quote of quotes; let i=index'>

                <h4 id={{i}}appHighlight>{{quote.name}} Posted on{{quote.postedDate|date|uppercase}}

                    <button (click)='toggleDetails(i)'>Toggle Details</button>
                    <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isRead)='readQuote($event,i)'>
                    </app-quote-detail>