/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
body {
    background-image: url("../src/assets/meditate.jpeg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px;
}

.form-control.ng-touched ng.invalid {
    border: 3px solid red;
}
